params.testing = false
params.BaseDir = "$SCRATCH/detct/grcz11"
if (params.testing) {
    params.expts = "$params.BaseDir/expt-sample-condition-test.tsv"
    params.all_counts = "$params.BaseDir/everything/filter-strict/all-test.csv.gz"
    params.big_mem = '1G'
    executor = 'local'
} else {
    params.expts = "$params.BaseDir/expt-sample-condition.tsv"
    params.all_counts = "$params.BaseDir/everything/filter-strict/all.csv.gz"
    params.big_mem = '16G'
    executor = 'sge'
}
params.ScriptDir = "$HOME/checkouts/zmp-network/scripts"
params.QsubDir = "$HOME/checkouts/zmp-network/qsub"
params.CountDir = "counts"
params.RefDir = "$SCRATCH/detct/grcz11/reference"
params.transcriptFile = "Danio_rerio.GRCz11.98.transcripts.tsv"
params.inflationParams = "-i 1.4 -i 2 -i 4"
params.knnTestParams = "-j 100/200/20"
params.knn = ""
//params.knn = "-k 50"
//params.threshold = ""
params.threshold = "-t 0.6"

process {
    cpus = 1
    time = '1h'
    penv = 'smp'

    withLabel: local {
        executor = 'local'
    }
}
