process {
    withName: 'SUBSET_COUNTS' {
        publishDir = [
            path: params.outdir,
            mode: params.publish_dir_mode,
            pattern: "expts.txt"
        ]
    }

    withName: 'FILTER_STATS' {
        publishDir = [
            path: params.outdir,
            mode: params.publish_dir_mode,
            pattern: "plots/*.pdf"
        ]
    }

    withName: 'RUN_POST_GBA_STATS' {
        publishDir = [
            path: params.outdir,
            mode: params.publish_dir_mode,
            pattern: "{plots/*.pdf,*.tsv,*.html}"
        ]
    }

    withName: 'GET_ANNOTATION' {
        publishDir = [
            path: params.ref_dir ? params.ref_dir : "${params.outdir}/ref",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GET_GO_ANNOTATION' {
        publishDir = [
            path: params.ref_dir ? params.ref_dir : "${params.outdir}/ref",
            mode: params.publish_dir_mode,
            pattern: "*_e*_go.txt"
        ]
    }
}

executor {
    withName: 'PUBLISH_NETWORKS' {
        name = 'local'
    }
}
