params {
    max_memory = 1.GB
    max_cpus   = 1
    expts = "$HOME/checkouts/zmp-network/data/test-samples.tsv"
    all_counts = "$HOME/checkouts/zmp-network/data/test-counts.csv"
    transcript_file = "$HOME/checkouts/zmp-network/data/test-transcript-lengths.tsv"
    annotation_file = "$HOME/checkouts/zmp-network/data/test-annotation.txt"
    go_annotation_file = "$HOME/checkouts/zmp-network/data/test-go.txt"
    go_min_cluster_size = 1
    zfa_file = "$HOME/checkouts/zmp-network/data/test-zfa.txt"
    min_term_size = 0
    max_term_size = 10
    threshold = [0.4, 0.5]
    knn = [3, 4]
    inflation_params = [1.4, 1.7]
    debug = true
}