params {
    max_memory = 1.GB
    max_cpus   = 1
    debug = 1
    samples = "${projectDir}/data/test-samples.tsv"
    all_counts = "${projectDir}/data/test-counts.csv"
//    transcript_file = "${projectDir}/data/test-transcript-lengths.tsv"
//    annotation_file = "${projectDir}/data/test-annotation.txt"
//    go_annotation_file = "${projectDir}/data/test-go.txt"
    go_min_cluster_size = 1
    zfa_file = "${projectDir}/data/test-zfa.txt"
    min_term_size = 0
    max_term_size = 10
    // threshold = [0.4, 0.5]
    threshold = [0.4]
    // knn = [3, 4]
    knn = [3]
    // inflation_params = [1.4, 1.7]
    inflation_params = [1.4]
}